.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.tfplan
tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.pytest_cache/
.ruff_cache/
.venv/
.docker-empty-s3/
.home-deploy/
__pycache__/
*.py[cod]

dist/
build/
*.egg-info/
